@model List<TraversalCoreProject.EntityLayer.Concrete.Reservation>
@{
    ViewData["Title"] = "MyOldReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Geçmiş rezervasyonlarım</h6>
                @*   <h6>@ViewBag.v</h6> *@
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Lokasyon</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Kişi Sayısı</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Rezarvasyon Tarihi</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Durum</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            @item.ReservationId
                                        </div>
                                    </td>
                                    <td>
                                        @item.Destination.TourName
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        @item.PersonCount
                                    </td>
                                    <td class="align-middle text-center">
                                        @item.ReservationDate.ToShortDateString()
                                    </td>
                                    <td class="align-middle text-center">
                                        @item.Status
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>